# Phase 1: Exclude ALL locales to seed pip install cache on Docker 28
# Cold build with ~1.6K files should complete in <10 min
# Once cached, locales will be added back incrementally
ar/
aut/
bad/
bar/
bln/
cs/
de/
es/
fr/
gsw/
he/
id/
it/
ja/
ko/
ksh/
ms/
nds/
pl/
pt/
ro/
sax/
swg/
th/
tl/
uk/
