[submodule "upstream-docs"]
	path = upstream-docs
	url = https://github.com/JanLahmann/Qiskit-documentation.git
[submodule "upstream-addons/qiskit-addon-cutting"]
	path = upstream-addons/qiskit-addon-cutting
	url = https://github.com/Qiskit/qiskit-addon-cutting.git
[submodule "upstream-addons/qiskit-addon-sqd"]
	path = upstream-addons/qiskit-addon-sqd
	url = https://github.com/Qiskit/qiskit-addon-sqd.git
[submodule "upstream-addons/qiskit-addon-obp"]
	path = upstream-addons/qiskit-addon-obp
	url = https://github.com/Qiskit/qiskit-addon-obp.git
[submodule "upstream-addons/qiskit-addon-mpf"]
	path = upstream-addons/qiskit-addon-mpf
	url = https://github.com/Qiskit/qiskit-addon-mpf.git
[submodule "upstream-addons/qiskit-addon-aqc-tensor"]
	path = upstream-addons/qiskit-addon-aqc-tensor
	url = https://github.com/Qiskit/qiskit-addon-aqc-tensor.git
[submodule "upstream-addons/qiskit-addon-pna"]
	path = upstream-addons/qiskit-addon-pna
	url = https://github.com/Qiskit/qiskit-addon-pna.git
[submodule "upstream-addons/qiskit-addon-slc"]
	path = upstream-addons/qiskit-addon-slc
	url = https://github.com/Qiskit/qiskit-addon-slc.git
