# Extra packages for amd64 only (no Linux arm64 wheels available).
# Installed conditionally in Dockerfile.jupyter.

qiskit-ibm-transpiler~=0.15.2
qiskit-addon-aqc-tensor[quimb-jax]~=0.2.0   # adds kahypar (no arm64 wheel)
gem-suite~=0.1.6
