# NOTE: Binder is configured to use JanLahmann/Qiskit-documentation (not this repo).
# The active Binder requirements are at:
#   https://github.com/JanLahmann/Qiskit-documentation/blob/main/binder/requirements.txt
