# Qiskit dependencies for MyBinder kernel
# Versions aligned with JanLahmann/Qiskit-documentation (scripts/nb-tester/requirements.txt)
qiskit[visualization]~=2.3.0
qiskit-aer~=0.17
qiskit-ibm-runtime~=0.43.1
pylatexenc
